
.navbar {
  border-radius: 24px;
  padding: 15px 30px;
  margin: 13px 20px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  background-color: #252525;
  border-radius: 15px;
}

.nav-link {
  transition: color 0.2s;
}

.nav-link:hover {
  color: #ccc;
}

.btn-light:hover {
  background-color: #f0f0f0;
}
.navbar .btn {
  border-radius: 13px ;
}
.nav-item {
  padding: 5px 10px;
}
